<div class="container p-4 p-md-5">
  <h4>Tipos</h4>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td colspan="3" class="p-0">
          <pre class="m-0" style="overflow: auto; height: 400px;"><code [highlight]="code" [lineNumbers]="true" [languages]="['typescript']" class="p-3 bg-white"></code></pre>
        </td>
      </tr>
      <tr class="text-center">
        <td><button type="button" mat-stroked-button color="primary" (click)="show('Has leído este mensaje importante.', {type:'modal'})">Abrir mensaje</button></td>
        <td><button type="button" mat-stroked-button color="primary" (click)="show('Notificaciones pueden incluir alertas, sonidos e insignia en el ícono.', {title: 'Tareas quiere enviarte notificaciones', type:'modal', width: '350px', actions: [{label: 'No permitir', value: 1}, {label: 'Permitir', value: 2, type: 'stroked', metadata: { color: 'primary' }}]})">Abrir mensaje</button></td>
        <td><button type="button" mat-stroked-button color="primary" (click)="show({content: 'Notificaciones pueden incluir alertas, <strong>sonidos</strong> e insignia en el ícono.', type: 'html'}, {title: 'Tareas quiere enviarte notificaciones', type:'modal', width: '350px', actions: [{label: 'No permitir', value: 1}, {label: 'Permitir', value: 2, type: 'stroked', metadata: { color: 'primary' }}]})">Abrir mensaje</button></td>
      </tr>
      <tr class="text-center">
        <th>Modal simple</th>
        <th>Modal acciones personalidados</th>
        <th>Modal mensaje HTML</th>
      </tr>
      <tr class="text-center">
        <td><button type="button" mat-stroked-button color="primary" (click)="show('Se ha eliminado el archivo exitosamente.')">Abrir mensaje</button></td>
        <td><button type="button" mat-stroked-button color="primary" (click)="show({content: 'Se ha eliminado el archivo <strong>document.txt</strong> exitosamente.', type: 'html'})">Abrir mensaje</button></td>
      </tr>
      <tr class="text-center">
        <th>Notificación simple</th>
        <th>Notificación HTML</th>
      </tr>
    </tbody>
  </table>
</div>
