<div class="container">
  <h1>Icon Component</h1>
  <div class="row text-center">
    <div class="col">
      <ft-icon name="search" size="1"></ft-icon>
    </div>
    <div class="col">
      <ft-icon name="search" size="2"></ft-icon>
    </div>
    <div class="col">
      <ft-icon name="search" size="3"></ft-icon>
    </div>
    <div class="col">
      <ft-icon name="search" size="4"></ft-icon>
    </div>
    <div class="col">
      <ft-icon name="search" size="5"></ft-icon>
    </div>
  </div>
</div>
