<ft-sidenav #sidenav [options]="options" [docked]="true" position="right">
  <div class="brand bg-primary text-white p-3" ftStart>
    <div class="logo">Brand</div>
    <div class="iso">B</div>
  </div>
  <div class="brand bg-primary text-white p-3" ftContent>sadfdas</div>
  <div class="mt-auto text-center p-2" ftEnd>
    <button type="button" class="btn-profile btn btn-light btn-block p-2">
      <div class="d-flex align-items-center">
        <div class="icon">
          <ft-icon name="user-profile" collection="factoricons-slim"></ft-icon>
        </div>
        <div class="label ml-2 text-left">
          John Doe
          <div class="text-muted small">john.doe@email.com</div>
        </div>
      </div>
    </button>
  </div>
</ft-sidenav>
<div class="content">
  <div class="container">
    <div class="d-flex align-items-center my-4">
      <div class="mr-1 d-block d-md-none">
        <button class="btn btn-secundary p-2" (click)="sidenav.show()"><ft-icon name="menu" class="d-block"></ft-icon></button>
      </div>
      <div>
        <h1 class="m-0">App</h1>
      </div>
    </div>
  </div>
</div>
