@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/_mixins";
.btn {
  ft-icon {
    font-size: 1.5rem;
  }
}
.btn-profile {
  ft-icon {
    font-size: 3rem;
    transition: font-size .2s;
  }
}
ft-sidenav {
  &.docked {
    + .content {
      margin: 0;
      transition: margin .3s;
      @include media-breakpoint-up(md) {
        margin-left: 280px;
      }
    }
  }
  &.docked,
  &.show {
    .brand {
      .logo {
        display: block;
      }
      .iso {
        display: none;
      }
    }
    .btn-profile {
      .label {
        display: block;
      }
    }
  }
  &:not(.docked):not(.show) {
    @include media-breakpoint-up(md) {
      + .content {
        margin-left: 60px;
      }
      .brand {
        .logo {
          display: none;
        }
        .iso {
          display: block;
          text-align: center;
        }
      }
      .btn-profile {
        ft-icon {
          font-size: 1.5rem;
        }
        .icon {
          margin: auto;
        }
        .label {
          display: none;
        }
      }
    }
  }
}
