:root {
  /*
  --green-rgb: 0, 221, 139;
  --green: rgb(var(--green-rgb));
  --orange-rgb: 255, 152, 0;
  --orange: rgb(var(--orange-rgb));
  --blue: #0094FF;
  --purple: #7E4CAF;
  */
  --primary-rgb: 0, 148, 93;
  --primary: var(--green);
  @include media-breakpoint-up(md) {
    --background-color: #F8F9FA;
  }
  @include media-breakpoint-down(md) {
    --background-color: #FFF;
  }
  --background-color-active: rgba(var(--primary-rgb), 0.1);
  --background-color-hover: rgba(0, 0, 0, 0.03);
  --border-color: rgba(0, 0, 0, 0.1);
  --text-color-rgb: 63, 63, 63;
  --text-color: rgb(var(--text-color-rgb));
  --text-color-active: var(--primary);
  --text-color-link: var(--primary);
  --text-color-hover: #EA8B00;
  --text-color-muted: rgba(var(--text-color-rgb), 0.54);
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-sm: 80%;
  --font-size-h6: 1rem;
  --sticky-elevation: 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  --dialog-elevation: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}
body {
  background-color: var(--background-color);
}
button:focus {
  outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
