<div class="container p-4">
  <button type="button" (click)="show('Alert message', {type:'modal'})">Alert</button>
  <button type="button" (click)="show('Los temas de la aplicación están pensados para contener todo componente que varíe según los estilos o determinado contendido para el perfil al cual se dirija la aplicación. Por el momento existen dos temas: Base y Vip', {title:'Confirmation', type:'modal', actions: [{label:'Accept', value:1}, {label:'Cancel', value:2}]})">Confirmation</button>
  <button type="button" (click)="show('Notification message')">Notification</button>
</div>
