<div class="container p-4">
  <h1>Files Service</h1>
  <div class="files" (click)="selectFiles()">
    <div class="mb-3 text-center text-muted small">Drop or click to upload files</div>
    <div class="files-group">
      <div class="files-group__item" [ngClass]="{'files-group__item--uploaded': file.uploadStatus === 'uploaded', 'files-group__item--failed': file.uploadStatus === 'failed', 'files-group__item--sending': file.uploadStatus === 'sending'}" *ngFor="let file of files" (click)="$event.stopPropagation()">
        <ft-icon name="document--text" collection="factoricons-slim" size="3" class="mb-2"></ft-icon>
        <div class="item__name">{{ file.name }}</div>
        <div class="item__size">{{ file.size }}</div>
        <ft-icon [name]="file.uploadStatus == 'uploaded' ? 'check' : 'close'" size="3" class="item__status"></ft-icon>
        <ft-icon name="trash" size="2" class="item__remove" title="Remove" title-i18n (click)="removeFile(file, files, $event)"></ft-icon>
        <div class="item__progress" [ngStyle]="{width: file.uploadProgress+'%'}"></div>
      </div>
    </div>
  </div>
  <button type="button" (click)="uploadFiles()">Upload files</button>
</div>
