<div class="container p-4 p-md-5">
  <h4>Label</h4>
  <table class="table table-bordered">
    <tr>
      <td colspan="2" class="p-0">
        <pre class="m-0"><code [highlight]="codeLabel" [lineNumbers]="true" [languages]="['xml']" class="p-3 bg-white"></code></pre>
      </td>
    </tr>
    <tr>
      <td class="text-center p-3">
        <ft-avatar label="John Doe"></ft-avatar>
      </td>
      <td class="text-center p-3">
        <ft-avatar label="Peter Jackson"></ft-avatar>
      </td>
    </tr>
    <tr class="text-center">
      <th>John Doe</th>
      <th>Peter Jackson</th>
    </tr>
  </table>

  <h4>Src</h4>
  <table class="table table-bordered">
    <tr>
      <td colspan="2" class="p-0">
        <pre class="m-0"><code [highlight]="codeSrc" [lineNumbers]="true" [languages]="['xml']" class="p-3 bg-white"></code></pre>
      </td>
    </tr>
    <tr>
      <td class="text-center p-3">
        <ft-avatar label="John Doe" src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4-300x300.png"></ft-avatar>
      </td>
      <td class="text-center p-3">
        <ft-avatar label="Peter Jackson" src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-1.png"></ft-avatar>
      </td>
    </tr>
    <tr class="text-center">
      <th>John Doe</th>
      <th>Peter Jackson</th>
    </tr>
  </table>
</div>
