@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
  td {
    vertical-align: middle;
  }
  table,
  .toolbar {
    /deep/.btn-light {
      background-color: transparent;
      border-color: transparent;
    }
  }
  @include media-breakpoint-up(md) {
    &.sidenav-show {
      margin-left: 16rem;
    }
    &.sidenav-collapsed {
      margin-left: 4rem;
    }
  }
}
