<div class="container p-4">
  <h1 class="mb-4">Components examples</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Common</h5>
          <a class="btn btn-primary" routerLink="/common">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Inputs</h5>
          <a class="btn btn-primary" routerLink="/inputs">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sidenav</h5>
          <a class="btn btn-primary" routerLink="/sidenav">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
