<form [formGroup]="entityForm" class="container">
  <h1>TextInput Component</h1>
  <div class="form-group form-row">
    <div class="col-6">
      <ft-text-input label="First Name" formControlName="firstName" [required]="true"></ft-text-input>
    </div>
    <div class="col-6">
      <ft-text-input label="Last Name" formControlName="lastName" [required]="true"></ft-text-input>
    </div>
  </div>
  <div class="form-group">
    <ft-text-input label="Company" formControlName="lastName" formControlName="company" [disabled]="true"></ft-text-input>
  </div>
  <div class="form-group">
    <ft-select label="Gender" [options]="options" formControlName="gender" [required]="true"></ft-select>
  </div>

  <pre>{{ entityForm.value | json }}</pre>
</form>
