<form [formGroup]="entityForm" (ngSubmit)="submit()" class="container pt-4">
  <fieldset [disabled]="submitting">
    <h1>Form Components</h1>
    <div class="form-group form-row">
      <div class="col-6">
        <ft-text-input label="First Name" formControlName="firstName" [required]="true"></ft-text-input>
        <ft-invalid-feedback [control]="entityForm.controls.firstName"></ft-invalid-feedback>
      </div>
      <div class="col-6">
        <ft-text-input label="Last Name" formControlName="lastName" [required]="true"></ft-text-input>
        <ft-invalid-feedback [control]="entityForm.controls.lastName"></ft-invalid-feedback>
      </div>
    </div>
    <div class="form-group">
      <ft-select label="Gender" [options]="options" formControlName="gender" [required]="true"></ft-select>
      <ft-invalid-feedback [control]="entityForm.controls.gender"></ft-invalid-feedback>
    </div>
    <div class="form-group">
      <ft-text-area label="Mensaje" formControlName="message" maxHeight="200" [autofocus]="true" [autosize]="true"></ft-text-area>
      <ft-invalid-feedback [control]="entityForm.controls.message"></ft-invalid-feedback>
    </div>
    <fieldset>
      <legend>Address</legend>
      <div class="form-group">
        <ft-text-input label="Street address" formControlName="streetAddress"></ft-text-input>
        <ft-invalid-feedback [control]="entityForm.controls.streetAddress"></ft-invalid-feedback>
      </div>
      <div class="form-group form-row">
        <div class="col-4">
          <ft-text-input label="Country" formControlName="country"></ft-text-input>
          <ft-invalid-feedback [control]="entityForm.controls.country"></ft-invalid-feedback>
        </div>
        <div class="col-4">
          <ft-text-input label="State" formControlName="state"></ft-text-input>
          <ft-invalid-feedback [control]="entityForm.controls.state"></ft-invalid-feedback>
        </div>
        <div class="col-4">
          <ft-text-input label="City" formControlName="city"></ft-text-input>
          <ft-invalid-feedback [control]="entityForm.controls.city"></ft-invalid-feedback>
        </div>
      </div>
    </fieldset>

    <div class="form-group">
      <ft-rating formControlName="rating" size="2"></ft-rating>
    </div>
    <div class="form-group">
      <ft-file-picker formControlName="file">
        <div class="placeholder p-4 text-center d-flex flex-column justify-content-center align-items-center" style="width:200px; height:200px;" *ngIf="!entityForm.value.file; else image">
          <ft-icon name="media-image" collection="factoricons-slim" size="4"></ft-icon>
          <div class="text-center small">Click to upload a picture</div>
        </div>
      </ft-file-picker>

      <ng-template #image>
        <img [src]="entityForm.value.file[0].data" style="max-width:200px;" />
      </ng-template>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <pre>{{ entityForm.value | json }}</pre>
  </fieldset>
</form>
